<div class="card-grid">
    <app-card title="Sample Card Title 1">
      <app-line-chart></app-line-chart>
    </app-card>
  
    <app-card title="Sample Card Title 2">
       <app-column-chart></app-column-chart>
    </app-card>
  
    <app-card title="Sample Card Title 3">
     <app-bar-chart></app-bar-chart>    
    </app-card>
  
    <app-card title="Sample Card Title 4">
        <app-pie-chart></app-pie-chart> 
    </app-card>

    <!-- <div class="chart-container">
      <ng-container *ngIf="isHeatChart; else barChart">
        <app-card title="Sample Card Title 3">
          <app-heat-chart></app-heat-chart>    
         </app-card>
      </ng-container>
      <ng-template #barChart>
        <app-card title="Sample Card Title 3">
          <app-bar-chart></app-bar-chart>    
         </app-card>
      </ng-template>
    </div> -->
  </div>
  