<div class="select-container">
  <select class="custom-select" [(ngModel)]="selectedOption1" (change)="onSelectionChange1($event)">
      <option value="" disabled selected>Select an option</option> <!-- Placeholder -->
      <option *ngFor="let option of options1" [value]="option.value">{{ option.label }}</option>
  </select>

  <select class="custom-select" [(ngModel)]="selectedOption2" (change)="onSelectionChange2($event)">
      <option value="" disabled selected>Select an option</option> <!-- Placeholder -->
      <option *ngFor="let option of options2" [value]="option.value">{{ option.label }}</option>
  </select>
  <a mat-icon-button [routerLink]="['/claim']">
    <mat-icon aria-hidden="false" aria-label="Example home icon">table</mat-icon>
  </a>
</div>
