table {
    width: 100%;
  }
  .table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .filter-field {
    margin-bottom: 20px;
  }
  
  mat-table {
    width: 100%;
  }
  
  mat-paginator {
    margin-top: 20px;
  }
  