<mat-toolbar color="primary" class="tool-bar" fixedInViewport>
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>  
  <span class="toolbar-title">FNOL PERFORMANCE TRACKER</span>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <!-- Side Navigation Component -->
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpened">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="content">
      <ng-container *ngIf="!isClaimRoute(); else tableTemplate">
        <app-select-card></app-select-card>
        <app-small-card></app-small-card>
        <app-dashboard></app-dashboard>
      </ng-container>
      <ng-template #tableTemplate>
        <app-table></app-table>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
