<div class="chart-options">
  <div class="select-container">
    <select class="custom-select" [(ngModel)]="selectedOption" (change)="onSelectionChange1($event)">
        <option value="" disabled selected>Select an option</option> <!-- Placeholder -->
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
    </select>
</div>
</div>

<div>
  <highcharts-chart
    id="line-chart-container"
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>
</div>
