<mat-sidenav-container class="sidenav-container">
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-field">
      <input 
        matInput 
        [(ngModel)]="searchQuery" 
        [placeholder]="searchQuery ? '' : 'Search'"  
      />
      <mat-icon matSuffix (click)="onSearch()">search</mat-icon> 
    </mat-form-field>
  </div>

  <div class="outlined-container">
    <mat-card class="info-card">
      <mat-card-content>
        <div *ngIf="loading">Loading...</div>
        <div *ngIf="error" class="error-message">{{ error }}</div>
        <div *ngIf="!loading && generatedText">
          <p>{{ generatedText }}</p> <!-- Display the generated text -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>
